<section class="here">
  <h2 class="title title--tag">Here is what you get</h2>
    <div class="here__items">
      <div class="here__item">
        <div class="here__wrapp">
          <img src="@img/here-section/icon-search.png" alt="search" class="here__png">
        </div>
        <div class="here__text">
          <div class="here__title">Creatred to Make The Web Better</div>
          <div class="here__descrp">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</div>
        </div>
      </div>
      <div class="here__item">
        <div class="here__wrapp">
          <img src="@img/here-section/icon-timer.png" alt="timer" class="here__png">
        </div>
        <div class="here__text">
          <div class="here__title">Incredibly Powerful Tool</div>
          <div class="here__descrp">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </div>
        </div>
      </div>
      <div class="here__item">
        <div class="here__wrapp">
          <img src="@img/here-section/icon-experimental.png" alt="experimental" class="here__png">
        </div>
        <div class="here__text">
          <div class="here__title">Experimental Stuff</div>
          <div class="here__descrp">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </div>
        </div>
      </div>
      <div class="here__item">
        <div class="here__wrapp">
          <img src="@img/here-section/icon-watch.png" alt="watch" class="here__png">
        </div>
        <div class="here__text">
          <div class="here__title">Creatred to Make The Web Better</div>
          <div class="here__descrp">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</div>
        </div>
      </div>
    </div>
    <img src="@img/here-section/image-code.png" alt="code" class="here__img">
  </section>

