html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-BoldItalic.ttf") format("woff2"), url("../fonts/Lato-BoldItalic.ttf") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Bold.ttf") format("woff2"), url("../fonts/Lato-Bold.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Regular.ttf") format("woff2"), url("../fonts/Lato-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #8e80ac;
  text-align: center;
  font-family: inherit;
  text-transform: capitalize;
}

.nav__item-link {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav__item-link:hover {
  color: #fff;
}

.header {
  width: 100%;
  max-width: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-center;
      -ms-flex-pack: flex-center;
          justify-content: flex-center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__logo {
  margin-left: 17px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #8e80ac;
  text-align: left;
  font-family: Lato;
  text-transform: uppercase;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 40px;
}

.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #8D81AC;
  border-radius: 40px;
  border: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  margin-left: 38px;
  width: 145px;
  height: 38px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  font-family: inherit;
  text-transform: capitalize;
}

.header__button:hover {
  border: 1px solid #8D81AC;
  background-color: #fff;
  color: #8e80ac;
}

.header__dropdown-nav {
  position: absolute;
  width: 290px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  left: calc(50% - 145px);
  top: 118px;
  font-size: 26px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: left;
  font-family: inherit;
  text-transform: capitalize;
  list-style: none;
}

.dropdown-nav {
  display: none;
}

.dropdown-nav__item {
  width: 100%;
  height: 88px;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 3px solid #3B3B3B;
  position: relative;
}

.dropdown-nav__item:before {
  content: "";
  width: 8px;
  height: 53px;
  background-color: #8D81AC;
  position: absolute;
  left: 0;
  z-index: 15;
  display: none;
}

.dropdown-nav__item:hover {
  color: #8e80ac;
}

.dropdown-nav__item:hover:before {
  display: block;
}

.dropdown-nav__item-link {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  padding-left: 35px;
}

.header__logo-wrapper:hover .header__logo {
  color: #fff;
}

.header__logo-wrapper:hover .header__logo-icon {
  -webkit-filter: contrast(0%) brightness(1000%);
          filter: contrast(0%) brightness(1000%);
}

.burger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 26px;
  height: 21px;
  right: 10px;
  display: none;
  cursor: pointer;
}

.burger-btn__line {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-btn__line--short {
  width: 60%;
}

.burger-btn__line--short.active {
  display: none;
}

.burger-btn__line:nth-child(2).active {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  top: 5px;
}

.burger-btn__line:nth-child(3).active {
  position: relative;
  bottom: 13px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hero-block {
  background-image: url("../img/section-app/img 1.png");
  padding-top: 1px;
  max-width: 1200px;
  width: 100vw;
  height: 75vh;
  background-position: 50%, 50%;
}

.hero-block__action-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 155px;
  left: calc(50% - 195px);
}

.hero-block__button {
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  font-family: inherit;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #8D81AC;
  border-radius: 40px;
  border: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  width: 390px;
  height: 62px;
  margin-bottom: 25px;
}

.hero-block__button:hover {
  border: 1px solid #8D81AC;
  background-color: #fff;
  color: #8e80ac;
}

.hero-block__trial-info {
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: #848E97;
  text-align: center;
  font-family: inherit;
  text-transform: capitalize;
}

.main-title {
  font-size: 82px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  font-family: inherit;
  text-transform: none;
  margin-top: 160px;
}

.lead-text {
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  color: #8e80ac;
  text-align: center;
  font-family: Lato;
  text-transform: none;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #848E97;
  text-align: center;
  font-family: inherit;
  text-transform: uppercase;
}

.revolutionary {
  max-width: 1200px;
  padding: 130px 0 70px;
}

.revolutionary__title {
  font-weight: 700;
  font-size: 54px;
  text-transform: uppercase;
  color: #635C73;
  text-align: center;
  margin-bottom: 35px;
}

.revolutionary__descr {
  font-size: 21px;
  font-weight: 400;
  line-height: 32px;
  color: #323232;
  text-align: center;
  font-family: "Lato";
  text-transform: none;
  margin-bottom: 20px;
}

.revolutionary__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 365px;
  margin: 0 auto;
}

.revolutionary__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #D5D5D5;
  color: #323232;
  font-weight: 700;
  font-size: 12px;
  border-radius: 3px;
}

.revolutionary__name {
  background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#EEEEEF));
  background: -o-linear-gradient(#FCFCFC, #EEEEEF);
  background: linear-gradient(#FCFCFC, #EEEEEF);
  border-right: 1px solid #D5D5D5;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

.revolutionary__name svg {
  margin-right: 5px;
}

.revolutionary__number {
  padding: 6px;
}

.here {
  max-width: 1200px;
  background-color: #f4f4f4;
  padding: 95px 0 75px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 65px 1fr;
  grid-template-rows: 65px 1fr;
      grid-template-areas: "items title" "items img";
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}

.here__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.here__items {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-align: end;
      justify-self: end;
  padding-left: 10px;
  grid-area: items;
}

.here__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 35px;
  max-width: 530px;
}

.here__item:last-child {
  margin-bottom: 0;
}

.here__title {
  font-size: 16px;
  line-height: 21px;
  color: #323232;
  margin-bottom: 17px;
}

.here__descrp {
  font-size: 14px;
  line-height: 21px;
  color: #848e97;
}

.here__wrapp {
  min-width: 111px;
  margin-right: 23px;
}

.here__img {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  width: 100%;
  grid-area: img;
  max-width: 660px;
}

.here .title {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: title;
  text-align: start;
  margin-left: 15px;
}

.title {
  font-size: 46px;
  font-weight: 700;
  line-height: 50px;
  color: #8d81ac;
  text-align: center;
  font-family: inherit;
  text-transform: none;
}

.title--tag::before {
  content: "<";
}

.title--tag::after {
  content: ">";
}

.testimonials {
  max-width: 1200px;
  background-image: url(../img/testimonials/testmonials-bg\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 110px;
  padding-bottom: 76px;
}

.testimonials::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 18.5px);
      -ms-transform: translate(-50%, 18.5px);
          transform: translate(-50%, 18.5px);
  width: 100%;
  max-width: 650px;
  border: 1px solid #655766;
}

.testimonials__title {
  color: #fff;
  margin-bottom: 75px;
}

.testimonials__footnote {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: #A291A5;
  text-align: center;
  font-family: "Lato";
  text-transform: none;
  max-width: 890px;
  margin: 0 auto;
}

.testimonials-clients__wrapper {
  margin-top: 82px;
  width: 100%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(-webkit-min-content, 315px))[3];
  -ms-grid-columns: (minmax(min-content, 315px))[3];
  grid-template-columns: repeat(3, minmax(-webkit-min-content, 315px));
  grid-template-columns: repeat(3, minmax(min-content, 315px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 109px;
  gap: 41px;
  margin-bottom: 109px;
}

.testimonials-clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 460px;
}

.testimonials-clients__item-logo {
  margin-bottom: 30px;
}

.testimonials-clients__item-info {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  text-align: center;
  font-family: "Lato";
  text-transform: none;
  font-style: italic;
}

.fork {
  padding: 110px 0 75px;
  margin-top: -12px;
  background: url(../img/fork-subscription/pricing.png) center/cover no-repeat;
}

.fork .title {
  margin-top: -40px;
  color: #ffffff;
}

.fork__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 61px;
}

.fork__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 22%;
  max-height: 490px;
  background-color: rgba(255, 255, 255, 0.11);
}

.fork__item--accent {
  width: 299px;
  max-height: 560px;
  background-color: rgba(70, 48, 72, 0.84);
}

.fork__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(255, 255, 255, 0.06);
  width: 100%;
  height: 97px;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 30px;
}

.fork__name--accent {
  background-color: rgba(0, 0, 0, 0.11);
  height: 111px;
}

.fork__price {
  font-size: 60px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.fork__price span {
  font-weight: 700;
}

.fork__price--accent {
  font-size: 82px;
  margin-bottom: 16px;
}

.fork__per {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.fork__per:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 5px;
  background: #8d81ac;
  margin-top: 40px;
  margin-bottom: 40px;
}

.fork__per--accent:after {
  margin-top: 45px;
  margin-bottom: 45px;
}

.fork__descr {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  height: 44px;
  margin-bottom: 36px;
}

.fork__descr--accent {
  margin-bottom: 83px;
}

.fork__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #8d81ac;
  border-radius: 40px;
  border: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  width: 163px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 37px;
}

.fork__btn:hover {
  border: 1px solid #8d81ac;
  background-color: #fff;
  color: #8e80ac;
}

.fork__btn--accent {
  width: 190px;
  height: 52px;
  margin-bottom: 47px;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: #8e80ac;
  text-align: start;
  font-family: "Montserrat";
  text-transform: none;
  font-family: "Montserrat", sans-serif;
  padding-right: 10px;
  padding-left: 10px;
}

@media (max-width: 1200px) {
  .here .title {
    font-size: 36px;
  }
}

@media (max-width: 992px) {
  .header {
    width: 102%;
    height: 118px;
    background-color: #27262A;
  }

  .header__nav {
    position: absolute;
    bottom: 15px;
    left: calc(50% - 215px);
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }

  .hero-block {
    background-position: 50%, 50%;
  }

  .main-title {
    margin-top: 150px;
    font-size: 72px;
  }

  .lead-text {
    font-size: 24px;
  }

  .subtitle {
    font-size: 14px;
  }

  .revolutionary__title {
    font-size: 42px;
  }

  .revolutionary__descr {
    font-size: 21px;
  }

  .here {
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .here__img {
    max-width: 500px;
  }

  .here__descrp {
    text-align: start;
    max-width: 588px;
  }

  .here__items {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: items;
    padding: 0 10px;
    -ms-grid-column-align: stretch;
        justify-self: stretch;
  }

  .here__items .here__item {
    margin-bottom: 50px;
  }

  .here__items .here__item:last-child {
    margin-bottom: 50px;
  }

  .here__items .here__item:last-child {
    margin-bottom: 50px;
  }

  .title {
    margin-bottom: 50px;
    text-align: center;
    padding: 0 10px;
  }

  .hero-block__action-wrapper {
    left: calc(50% - 145px);
  }

  .hero-block__button {
    width: 290px;
    height: 45px;
    font-size: 18px;
  }

  .title {
    font-size: 28px;
    line-height: 42px;
  }

  .fork__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    max-width: 600px;
    margin: 40px auto 0;
  }

  .fork .title {
    font-size: 42px;
    line-height: 44px;
  }

  .fork__item {
    min-width: 44%;
    margin-left: 25px;
    margin-bottom: 30px;
  }

  .fork__item:nth-child(1) {
    margin-left: 0;
  }

  .fork__item:nth-child(3) {
    margin-left: 0;
  }

  .fork__item--accent {
    max-width: 48%;
  }
}

@media (max-width: 992px) and (max-width: 480px) {
  .here {
    padding: 30px 0 0;
  }

  .here__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .here__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }

  .here__item:last-child {
    margin-bottom: 0;
  }

  .here__items {
    margin-top: 36px;
    margin-bottom: 0;
  }

  .here__wrapp {
    margin: 0 0 27px;
  }

  .here__title {
    text-align: center;
  }

  .here__descrp {
    margin: 14px 0 38px;
    text-align: center;
  }

  .here__png {
    display: block;
    margin: 0 auto;
  }

  .title {
    font-size: 28px;
    line-height: 42px;
  }
}

@media (max-width: 480px) {
  .header__nav,
  .header__logo {
    display: none;
  }

  .header__button {
    position: absolute;
    margin: 0;
    left: calc(50% - 72px);
  }

  .burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .hero-block__action-wrapper {
    left: calc(50% - 145px);
  }

  .hero-block__button {
    width: 290px;
    height: 45px;
    font-size: 18px;
  }

  .main-title {
    font-size: 48px;
  }

  .lead-text {
    font-size: 18px;
  }

  .subtitle {
    font-size: 14px;
  }

  .hero-block__action-wrapper {
    left: calc(50% - 145px);
  }

  .hero-block__button {
    width: 290px;
    height: 45px;
    font-size: 18px;
  }

  .here {
    padding: 30px 0 0;
  }

  .here__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }

  .here__item:last-child {
    margin-bottom: 0;
  }

  .here__items {
    margin-top: 36px;
    margin-bottom: 0;
  }

  .here__wrapp {
    margin: 0 0 27px;
  }

  .here__title {
    text-align: center;
  }

  .here__descr {
    margin: 14px 0 38px;
    text-align: center;
  }

  .here__png {
    display: block;
    margin: 0 auto;
  }

  .fork__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .fork__item {
    width: 260px;
    margin-left: 0;
  }

  .fork__item--accent {
    min-width: 300px;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .testimonials-clients__wrapper {
    margin-top: 85px;
    -ms-grid-columns: (minmax(150px, 315px))[2];
    grid-template-columns: repeat(2, minmax(150px, 315px));
    row-gap: 61.5px;
  }

  .testimonials__footnote {
    max-width: 620px;
  }

  .testimonials__title {
    font-size: 42px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .testimonials-clients__wrapper {
    margin-top: 53px;
    -ms-grid-columns: (minmax(150px, 315px))[1];
    grid-template-columns: repeat(1, minmax(150px, 315px));
    row-gap: 41px;
  }

  .testimonials__footnote {
    max-width: 400px;
  }
}