.revolutionary {
  max-width: 1200px;
    padding: 130px 0 70px;
    &__title {
        font-weight: 700;
        font-size: 54px;
        text-transform: uppercase;
        color: #635C73;
        text-align: center;
        margin-bottom: 35px;
    }
    &__descr {
        @include fontStyle(21px, 400, 32px, #323232, center, none,'Lato');
        margin-bottom: 20px;
    }
    &__btns {
        @include displayFlex(space-between);
        max-width: 365px;
        margin: 0 auto;
    }
    &__btn {
        @include displayFlex();
        border: 1px solid #D5D5D5;
        color: #323232;
        font-weight: 700;
        font-size: 12px;
        border-radius: 3px;
    }
    &__name {
        background: linear-gradient(#FCFCFC, #EEEEEF);
        border-right: 1px solid #D5D5D5;
        padding: 6px;
        @include displayFlex(space-between);
        cursor: pointer;
        svg {
            margin-right: 5px;
        }
    }
    &__number {
        padding: 6px;
    }
}

@media (max-width: 992px){
    .revolutionary {
        &__title {
          font-size: 42px;
        }
        &__descr {
          font-size: 21px;
        }
    }    
}

@media (max-width:480px) {
  .here {
    padding: 30px 0 0;
    &__item {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__items {
      margin-top: 36px;
      margin-bottom: 0;
    }
    &__wrapp {
      margin: 0 0 27px;
    }
    &__title {
      text-align: center;
    }
    &__descr {
      margin: 14px 0 38px;
      text-align: center;
    }
    &__png {
      display: block;
      margin: 0 auto;
  }
  }
}
