.here {
  max-width: 1200px;
  background-color: #f4f4f4;
  padding: 95px 0 75px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 65px 1fr;
  grid-template-areas:
    "items title"
    "items img";
  column-gap: 50px;
  &__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
          }
          
  &__items {
    justify-self: end;
    padding-left: 10px;
    grid-area: items;
  }
  &__item {
    @include displayFlex(space-between, flex-start,);
    margin-bottom: 35px;
    max-width: 530px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    font-size: 16px;
    line-height: 21px;
    color: #323232;
    margin-bottom: 17px;
  }
  &__descrp {
    font-size: 14px;
    line-height: 21px;
    color: #848e97;
  }
  &__wrapp {
    min-width: 111px;
    margin-right: 23px;
  }
  &__img {
    width: 100%;
    grid-area: img;
    max-width: 660px
  }
  .title {
    grid-area: title;
    text-align: start;
    margin-left: 15px;
  }
}

.title {
  
  @include fontStyle(46px, 700, 50px, #8d81ac, center, none, );
}

.title--tag {
  &::before {
    content: "<";
  }
  &::after {
    content: ">";
  }
}

@media (max-width: 1200px) {
  .here {
  
    .title {
      font-size: 36px;
    }
  }
}

@media (max-width: 992px) {
  .here {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
      max-width: 500px
    }
      &__descrp {
        text-align: start;
        max-width: 588px
      }
    &__items {
      grid-area: items;
      padding: 0 10px;
      justify-self: stretch;
      .here__item {
        margin-bottom: 50px;
        &:last-child {
          margin-bottom: 50px;
        }
        &:last-child {
          margin-bottom: 50px;
        }
      }
    }
  }
  .title {
    margin-bottom: 50px;
    text-align: center;
    padding: 0 10px;
  }
  .hero-block__action-wrapper {
    left: calc(50% - 145px);
  }
  .hero-block__button {
    width: 290px;
    height: 45px;
    font-size: 18px;
  }
  .title {
    font-size: 28px;
    line-height: 42px;
  }


  @media (max-width: 480px) {
    .here {
      padding: 30px 0 0;
      &__text{
        align-items: center;
      }
      &__item {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &__items {
        margin-top: 36px;
        margin-bottom: 0;
      }
      &__wrapp {
        margin: 0 0 27px;
      }
      &__title {
        text-align: center;
      }
      &__descrp {
        margin: 14px 0 38px;
        text-align: center;
      }
      &__png {
        display: block;
        margin: 0 auto;
      }
    }
    .title {
      font-size: 28px;
      line-height: 42px;
    }
  }
}
